<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>rsk</title>
  <link rel="stylesheet" href="static/css/light mode.css"/>
   <script type="text/javascript" src="static/js/js.js"></script>
</head>
<body>
 <header><h1>rsk</h1></header>
	<div class="curse">выберите курс:</div>
  <!--- выбор курса---->
  <div  class="wrapper";>
      <!-- при нажатии появляется\прячится группы 1 курса по id hidden1  -->
      <a href="javascript:showhide('hidden1')" class="wave-btn" id="1_curse">
        <span class="wave-btn__text">1</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper"; id="curse 2";>
      <!-- при нажатии появляется\прячится группы 2 курса по id hidden1 -->
      <a href="javascript:showhide('hidden2')" class="wave-btn">
        <span class="wave-btn__text">2</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper"; id="curse 3";>
      <!-- при нажатии появляется\прячится группы 3 курса по id hidden1 -->
      <a href="javascript:showhide('hidden3')" class="wave-btn">
        <span class="wave-btn__text">3</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper"; id="curse 4";>
      <!-- при нажатии появляется\прячится группы 4 курса по id hidden1 -->
      <a href="javascript:showhide('hidden4')" class="wave-btn">
        <span class="wave-btn__text">4</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <!--группы 1 курса-->
<div id="hidden1" style="display:none;" class="wrapper3">
 <div class="group">выберите группу:</div>
    <div class="wrapper2"; id="msa-1";>
      <!-- Контент -->
      <a href="javascript:showhide('day_of_the_week')" class="wave-btn">
        <span class="wave-btn__text">МСА-22</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper2"; id="ges-1">
        <a type="button" href="javascript:showhide('day_of_the_week')" class="wave-btn" id="ges-1">
        <span class="wave-btn__text">ГЭС-22</span>
        <span class="wave-btn__waves" ></span>
      </a>
    </div>
    <div class="wrapper2"; id="kip-1">
      <!-- Контент -->
      <a href="javascript:showhide('day_of_the_week')" class="wave-btn">
        <span class="wave-btn__text">КИП-22</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper2"; id="msd-1";>
      <!-- Контент -->
      <a href="javascript:showhide('day_of_the_week')" class="wave-btn">
        <span class="wave-btn__text">МСД-22</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper2"; id="msd-1k";>
      <!-- Контент -->
      <a href="javascript:showhide('day_of_the_week')" class="wave-btn">
        <span class="wave-btn__text">МСД-22-К</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper2"; id="pk-1">
        <a type="button" href="javascript:showhide('day_of_the_week')" class="wave-btn">
        <span class="wave-btn__text">ПК-22</span>
        <span class="wave-btn__waves" ></span>
      </a>
    </div>
    <div class="wrapper2"; id="mst-1">
      <!-- Контент -->
      <a href="javascript:showhide('day_of_the_week')" class="wave-btn">
        <span class="wave-btn__text">МСТ-22</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper2"; id="op-1";>
      <!-- Контент -->
      <a href="javascript:showhide('day_of_the_week')" class="wave-btn">
        <span class="wave-btn__text">ОП-106</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper2"; id="pv-1";>
      <!-- Контент -->
      <a href="javascript:showhide('day_of_the_week')" class="wave-btn">
        <span class="wave-btn__text">ПВ-107</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper2"; id="di-1">
      <!-- Контент -->
      <a  href="javascript:showhide('day_of_the_week')" class="wave-btn" id="di-22">
        <span class="wave-btn__text">ДИ-22</span>
        <span class="wave-btn__waves" ></span>
      </a>
    </div>
    <div class="wrapper2"; id="pgs-1">
      <!-- Контент -->
      <a href="javascript:showhide('day_of_the_week')" class="wave-btn">
        <span class="wave-btn__text">ПГС-22</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper2"; id="ad-1";>
      <!-- Контент -->
      <a href="javascript:showhide('day_of_the_week')" class="wave-btn">
        <span class="wave-btn__text">АД-22</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper2"; id="edm-1";>
      <!-- Контент -->
      <a href="javascript:showhide('day_of_the_week')" class="wave-btn">
        <span class="wave-btn__text">ЭДМ-22</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper2"; id="by-1">
        <a type="button" href="javascript:showhide('day_of_the_week')" class="wave-btn" id="by-1">
        <span class="wave-btn__text">БУ-22</span>
        <span class="wave-btn__waves" ></span>
      </a>
    </div>
    <div class="wrapper2"; id="by-1k">
      <!-- Контент -->
      <a href="javascript:showhide('day_of_the_week')" class="wave-btn">
        <span class="wave-btn__text">БУ-22К</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper2"; id="is-1";>
      <!-- Контент -->
      <a href="javascript:showhide('day_of_the_week')" class="wave-btn">
        <span class="wave-btn__text">ИС-22</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    </div>



















































<div class="day_of_the_week" id="day_of_the_week" style="display:none;" >
    <div>выберите день недели:</div>
    <div class="wrapper"; id="pn";>
      <!-- понедельник -->
      <a href="#" class="wave-btn">
        <span class="wave-btn__text">пн</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper"; id="vt";>
      <!-- вторник -->
      <a href="" class="wave-btn">
        <span class="wave-btn__text">вт</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper"; id="sr";>
      <!-- среда -->
      <a href="" class="wave-btn">
        <span class="wave-btn__text">ср</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper"; id="cht";>
      <!-- четверг -->
      <a href="" class="wave-btn">
        <span class="wave-btn__text">чт</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper"; id="pt";>
      <!-- пятница -->
      <a href="" class="wave-btn">
        <span class="wave-btn__text">пт</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    <div class="wrapper"; id="sb";>
      <!-- суббота -->
      <a href="" class="wave-btn">
        <span class="wave-btn__text">сб</span>
        <span class="wave-btn__waves"></span>
      </a>
    </div>
    </div>
</body>
</html>